body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #03fcdb;
  font-family: Arial, sans-serif;
  
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%; /* Adjust this value for the vertical positioning */
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20%; /* Adjust this value for the vertical positioning */
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

h3 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%; /* Adjust this value for the vertical positioning */
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
}

.square {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: brown;
  cursor: pointer;
  transition: border-color 0.3s;
}

.square:hover {
  border-color: red;
}

.red-piece {
 
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  pointer-events: none;
}

.black-piece {
 
  background-color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  pointer-events: none;
}

.beige {
  background-color: purple;
}

button {
  display: flex;
  position: fixed;
  bottom: 80px;
  left: 30px;
  height: 170px;
  width: 250px;
  font-size: 75px;
  background-color: limegreen;
  border: none;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkgreen;
}

.red-pieceK {
 
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 2px solid black;
  pointer-events: none;
}