body {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #03fcdb;
}
h1 {
  display: flex;
  align-self: flex-start;
  left: 220px;
  position: absolute;
}
h2 {
  display: flex;
  align-self: flex-start;
  position: relative;
  top: 90px;
  left: 280px;
  font-size: 30px;
}
#gameboard {
  display: left;
  flex-direction: column;
  position: absolute;
  top: 190px;
  left: 170px;
}

.row{
  display:flex;
 
}
.square {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: brown;
}
.square:hover {
  border: 4px dotted red;
  height:50px;
  width: 50px;
}
.red-piece  {
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 2px solid black;

}
.black-piece {
  background-color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid white;
}
.beige {
  background-color: purple;
}

button{
  display: flex;
  align-self: flex-start;
  left: 140px;
  top: 700px;
  position: relative;
}